<%- include("partials/header") %>

<div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 >Aici este doar handle la index.ejs</h2>
      <p>Mongoose gasesti in /articole</p>
      <div class="card-actions justify-end">
        <a href="/articole" class="btn btn-primary">/articole</a>
      </div>
    </div>
</div>

<%- include("partials/footer") %>
