<%- include("partials/header") %>

<div class="card w-96 bg-base-100 shadow-xl">
  <div class="card-body">
    <p>Postgres gasesti in /user</p>
    <div class="card-actions justify-end">
      <a href="/user" class="btn btn-primary">/user</a>
    </div>
  </div>
</div>

<div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body">
      <p>Mongoose gasesti in /articole</p>
      <div class="card-actions justify-end">
        <a href="/articole" class="btn btn-primary">/articole</a>
      </div>
    </div>
</div>

<%- include("partials/footer") %>
